﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:819px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u668_ref {
  position:absolute;
  left:372px;
  top:660px;
  width:1px;
  height:1px;
}
#u669 {
  position:absolute;
  left:439px;
  top:0px;
  width:380px;
  height:670px;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u669_ref {
  position:absolute;
  left:811px;
  top:660px;
  width:1px;
  height:1px;
}
#u670 {
  position:absolute;
  left:439px;
  top:727px;
  width:380px;
  height:670px;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u670_ref {
  position:absolute;
  left:811px;
  top:1387px;
  width:1px;
  height:1px;
}
#u671 {
  position:absolute;
  left:0px;
  top:727px;
  width:380px;
  height:670px;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u671_ref {
  position:absolute;
  left:372px;
  top:1387px;
  width:1px;
  height:1px;
}
#u672 {
  position:absolute;
  left:202px;
  top:376px;
  width:0px;
  height:0px;
}
#u672_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:271px;
  height:8px;
}
#u672_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u672_seg2 {
  position:absolute;
  left:241px;
  top:-20px;
  width:40px;
  height:40px;
}
#u673 {
  position:absolute;
  left:84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  position:absolute;
  left:662px;
  top:405px;
  width:0px;
  height:0px;
}
#u674_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u674_seg1 {
  position:absolute;
  left:14px;
  top:-4px;
  width:8px;
  height:327px;
}
#u674_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u674_seg3 {
  position:absolute;
  left:-2px;
  top:297px;
  width:40px;
  height:40px;
}
#u675 {
  position:absolute;
  left:-32px;
  top:144px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:321px;
  top:504px;
  width:0px;
  height:0px;
}
#u676_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u676_seg1 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:70px;
  height:8px;
}
#u676_seg2 {
  position:absolute;
  left:58px;
  top:-5px;
  width:8px;
  height:351px;
}
#u676_seg3 {
  position:absolute;
  left:27px;
  top:338px;
  width:39px;
  height:8px;
}
#u676_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u676_seg5 {
  position:absolute;
  left:13px;
  top:322px;
  width:40px;
  height:40px;
}
#u677 {
  position:absolute;
  left:12px;
  top:149px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678 {
  position:absolute;
  left:591px;
  top:1167px;
  width:0px;
  height:0px;
}
#u678_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u678_seg1 {
  position:absolute;
  left:-171px;
  top:-5px;
  width:175px;
  height:8px;
}
#u678_seg2 {
  position:absolute;
  left:-171px;
  top:-559px;
  width:8px;
  height:562px;
}
#u678_seg3 {
  position:absolute;
  left:-171px;
  top:-559px;
  width:8px;
  height:8px;
}
#u678_seg4 {
  position:absolute;
  left:-171px;
  top:-738px;
  width:8px;
  height:187px;
}
#u678_seg5 {
  position:absolute;
  left:-239px;
  top:-738px;
  width:76px;
  height:8px;
}
#u678_seg6 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u678_seg7 {
  position:absolute;
  left:-253px;
  top:-754px;
  width:40px;
  height:40px;
}
#u679 {
  position:absolute;
  left:-217px;
  top:-328px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u680 {
  position:absolute;
  left:365px;
  top:351px;
  width:57px;
  height:20px;
}
#u681 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
