﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1257px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u507 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u507_ref {
  position:absolute;
  left:372px;
  top:660px;
  width:1px;
  height:1px;
}
#u508 {
  position:absolute;
  left:430px;
  top:0px;
  width:380px;
  height:670px;
}
#u508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u508_ref {
  position:absolute;
  left:802px;
  top:660px;
  width:1px;
  height:1px;
}
#u509 {
  position:absolute;
  left:877px;
  top:0px;
  width:380px;
  height:670px;
}
#u509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u509_ref {
  position:absolute;
  left:1249px;
  top:660px;
  width:1px;
  height:1px;
}
#u510 {
  position:absolute;
  left:220px;
  top:265px;
  width:0px;
  height:0px;
}
#u510_seg0 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u510_seg1 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:244px;
  height:8px;
}
#u510_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u510_seg3 {
  position:absolute;
  left:214px;
  top:-30px;
  width:40px;
  height:40px;
}
#u511 {
  position:absolute;
  left:65px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512 {
  position:absolute;
  left:943px;
  top:495px;
  width:0px;
  height:0px;
}
#u512_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u512_seg1 {
  position:absolute;
  left:-104px;
  top:-5px;
  width:108px;
  height:8px;
}
#u512_seg2 {
  position:absolute;
  left:-104px;
  top:-5px;
  width:8px;
  height:8px;
}
#u512_seg3 {
  position:absolute;
  left:-158px;
  top:-5px;
  width:62px;
  height:8px;
}
#u512_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u512_seg5 {
  position:absolute;
  left:-172px;
  top:-21px;
  width:40px;
  height:40px;
}
#u513 {
  position:absolute;
  left:-128px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
