﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1081px;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u927 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:269px;
  height:49px;
}
#u928 {
  position:absolute;
  left:258px;
  top:182px;
  width:266px;
  height:46px;
}
#u929 {
  position:absolute;
  left:2px;
  top:15px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:269px;
  height:49px;
}
#u930 {
  position:absolute;
  left:258px;
  top:234px;
  width:266px;
  height:46px;
}
#u931 {
  position:absolute;
  left:2px;
  top:15px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:47px;
}
#u932 {
  position:absolute;
  left:258px;
  top:286px;
  width:266px;
  height:46px;
  font-size:16px;
  color:#EFEFEF;
}
#u933 {
  position:absolute;
  left:2px;
  top:14px;
  width:262px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u934 {
  position:absolute;
  left:335px;
  top:136px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u936_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:53px;
}
#u936 {
  position:absolute;
  left:275px;
  top:122px;
  width:50px;
  height:50px;
}
#u937 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:33px;
}
#u938 {
  position:absolute;
  left:262px;
  top:378px;
  width:258px;
  height:32px;
  color:#5E5E5E;
  text-align:center;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u940 {
  position:absolute;
  left:258px;
  top:182px;
  width:266px;
  height:46px;
}
#u940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:46px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u941 {
  position:absolute;
  left:258px;
  top:234px;
  width:266px;
  height:46px;
}
#u941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:46px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u942 {
  position:absolute;
  left:307px;
  top:342px;
  width:169px;
  height:16px;
  color:#FF0000;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u944 {
  position:absolute;
  left:314px;
  top:342px;
  width:155px;
  height:16px;
  color:#FF0000;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
