﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1081px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u947 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:1030px;
}
#u949 {
  position:absolute;
  left:0px;
  top:51px;
  width:161px;
  height:1029px;
}
#u950 {
  position:absolute;
  left:2px;
  top:506px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:59px;
}
#u951 {
  position:absolute;
  left:0px;
  top:109px;
  width:161px;
  height:58px;
  font-size:16px;
  color:#EFEFEF;
}
#u952 {
  position:absolute;
  left:2px;
  top:20px;
  width:157px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:59px;
}
#u953 {
  position:absolute;
  left:0px;
  top:51px;
  width:161px;
  height:58px;
  font-size:16px;
  color:#EFEFEF;
}
#u954 {
  position:absolute;
  left:2px;
  top:20px;
  width:157px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:59px;
}
#u955 {
  position:absolute;
  left:0px;
  top:167px;
  width:161px;
  height:58px;
  font-size:16px;
  color:#EFEFEF;
}
#u956 {
  position:absolute;
  left:2px;
  top:20px;
  width:157px;
  word-wrap:break-word;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958 {
  position:absolute;
  left:564px;
  top:409px;
  width:48px;
  height:29px;
}
#u958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
}
#u958_input:disabled {
  color:grayText;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u959 {
  position:absolute;
  left:483px;
  top:414px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u961 {
  position:absolute;
  left:622px;
  top:414px;
  width:105px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u963 {
  position:absolute;
  left:1182px;
  top:409px;
  width:61px;
  height:29px;
  font-size:16px;
  color:#5E5E5E;
}
#u964 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u965 {
  position:absolute;
  left:1243px;
  top:409px;
  width:61px;
  height:29px;
  font-size:16px;
  color:#5E5E5E;
}
#u966 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u967 {
  position:absolute;
  left:1304px;
  top:409px;
  width:36px;
  height:29px;
  font-size:16px;
  color:#5E5E5E;
}
#u967_img.selected {
}
#u967.selected {
}
#u968 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u969 {
  position:absolute;
  left:1340px;
  top:409px;
  width:38px;
  height:29px;
  font-size:16px;
  color:#5E5E5E;
}
#u970 {
  position:absolute;
  left:2px;
  top:5px;
  width:34px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u971 {
  position:absolute;
  left:1378px;
  top:409px;
  width:61px;
  height:29px;
  font-size:16px;
  color:#5E5E5E;
}
#u972 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u973 {
  position:absolute;
  left:1439px;
  top:409px;
  width:61px;
  height:29px;
  font-size:16px;
  color:#5E5E5E;
}
#u974 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u975 {
  position:absolute;
  left:483px;
  top:149px;
  width:203px;
  height:30px;
}
#u975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u976 {
  position:absolute;
  left:686px;
  top:149px;
  width:30px;
  height:30px;
  color:#5E5E5E;
}
#u977 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u978 {
  position:absolute;
  left:726px;
  top:153px;
  width:69px;
  height:23px;
  font-size:16px;
}
#u979 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u980 {
  position:absolute;
  left:920px;
  top:196px;
  width:195px;
  height:25px;
}
#u980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u981 {
  position:absolute;
  left:1090px;
  top:198px;
  width:25px;
  height:24px;
  opacity:0.6;
  color:#5E5E5E;
}
#u982 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u983 {
  position:absolute;
  left:1126px;
  top:198px;
  width:48px;
  height:19px;
  font-size:16px;
  color:#5E5E5E;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u985 {
  position:absolute;
  left:1154px;
  top:196px;
  width:195px;
  height:25px;
}
#u985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u986 {
  position:absolute;
  left:1325px;
  top:197px;
  width:25px;
  height:24px;
  opacity:0.6;
  color:#5E5E5E;
}
#u987 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u988 {
  position:absolute;
  left:483px;
  top:196px;
  width:71px;
  height:16px;
  color:#5E5E5E;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u990 {
  position:absolute;
  left:574px;
  top:196px;
  width:29px;
  height:16px;
  color:#5E5E5E;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u992 {
  position:absolute;
  left:622px;
  top:196px;
  width:57px;
  height:16px;
  color:#5E5E5E;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u994 {
  position:absolute;
  left:699px;
  top:196px;
  width:57px;
  height:16px;
  color:#5E5E5E;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u996 {
  position:absolute;
  left:775px;
  top:196px;
  width:57px;
  height:16px;
  color:#5E5E5E;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u998 {
  position:absolute;
  left:852px;
  top:196px;
  width:57px;
  height:16px;
  color:#5E5E5E;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1000 {
  position:absolute;
  left:483px;
  top:77px;
  width:140px;
  height:40px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1002 {
  position:absolute;
  left:483px;
  top:250px;
  width:922px;
  height:117px;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  color:#5E5E5E;
}
#u1004 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u1005 {
  position:absolute;
  left:116px;
  top:0px;
  width:120px;
  height:30px;
  color:#5E5E5E;
}
#u1006 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:31px;
}
#u1007 {
  position:absolute;
  left:236px;
  top:0px;
  width:209px;
  height:30px;
  color:#5E5E5E;
}
#u1008 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:31px;
}
#u1009 {
  position:absolute;
  left:445px;
  top:0px;
  width:327px;
  height:30px;
  color:#5E5E5E;
}
#u1010 {
  position:absolute;
  left:2px;
  top:7px;
  width:323px;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u1011 {
  position:absolute;
  left:772px;
  top:0px;
  width:145px;
  height:30px;
  color:#5E5E5E;
}
#u1012 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:39px;
  color:#5E5E5E;
}
#u1014 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u1015 {
  position:absolute;
  left:116px;
  top:30px;
  width:120px;
  height:39px;
  color:#5E5E5E;
}
#u1016 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u1017 {
  position:absolute;
  left:236px;
  top:30px;
  width:209px;
  height:39px;
  color:#5E5E5E;
}
#u1018 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:40px;
}
#u1019 {
  position:absolute;
  left:445px;
  top:30px;
  width:327px;
  height:39px;
  font-size:12px;
  color:#5E5E5E;
}
#u1020 {
  position:absolute;
  left:2px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u1021 {
  position:absolute;
  left:772px;
  top:30px;
  width:145px;
  height:39px;
  color:#169BD5;
}
#u1022 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:69px;
  width:116px;
  height:43px;
  color:#5E5E5E;
}
#u1024 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:44px;
}
#u1025 {
  position:absolute;
  left:116px;
  top:69px;
  width:120px;
  height:43px;
  color:#5E5E5E;
}
#u1026 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:44px;
}
#u1027 {
  position:absolute;
  left:236px;
  top:69px;
  width:209px;
  height:43px;
  color:#5E5E5E;
}
#u1028 {
  position:absolute;
  left:2px;
  top:14px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:44px;
}
#u1029 {
  position:absolute;
  left:445px;
  top:69px;
  width:327px;
  height:43px;
  font-size:14px;
  color:#5E5E5E;
}
#u1030 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:44px;
}
#u1031 {
  position:absolute;
  left:772px;
  top:69px;
  width:145px;
  height:43px;
  color:#169BD5;
}
#u1032 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u1033 {
  position:fixed;
  left:50%;
  margin-left:-267.5px;
  top:50%;
  margin-top:-232px;
  visibility:hidden;
}
#u1033_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1033_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:465px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:464px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:224px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:128px;
  top:69px;
  width:308px;
  height:25px;
}
#u1036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u1037 {
  position:absolute;
  left:411px;
  top:69px;
  width:25px;
  height:24px;
  opacity:0.6;
  color:#5E5E5E;
}
#u1038 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1039 {
  position:absolute;
  left:47px;
  top:74px;
  width:71px;
  height:16px;
  color:#5E5E5E;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1041 {
  position:absolute;
  left:47px;
  top:108px;
  width:71px;
  height:16px;
  color:#5E5E5E;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1043 {
  position:absolute;
  left:128px;
  top:104px;
  width:308px;
  height:25px;
}
#u1043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u1044 {
  position:absolute;
  left:446px;
  top:109px;
  width:21px;
  height:16px;
  color:#5E5E5E;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1046 {
  position:absolute;
  left:47px;
  top:143px;
  width:71px;
  height:16px;
  color:#5E5E5E;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1048 {
  position:absolute;
  left:128px;
  top:139px;
  width:308px;
  height:25px;
}
#u1048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u1049 {
  position:absolute;
  left:446px;
  top:144px;
  width:37px;
  height:16px;
  color:#5E5E5E;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1051 {
  position:absolute;
  left:47px;
  top:201px;
  width:85px;
  height:16px;
  color:#5E5E5E;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1053 {
  position:absolute;
  left:128px;
  top:233px;
  width:308px;
  height:25px;
}
#u1053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u1054 {
  position:absolute;
  left:446px;
  top:238px;
  width:37px;
  height:16px;
  color:#5E5E5E;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1056 {
  position:absolute;
  left:254px;
  top:13px;
  width:57px;
  height:16px;
  color:#5E5E5E;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:2px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:38px;
  width:535px;
  height:1px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:2px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:184px;
  width:535px;
  height:1px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1062 {
  position:absolute;
  left:47px;
  top:238px;
  width:43px;
  height:16px;
  color:#5E5E5E;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u1064 {
  position:absolute;
  left:446px;
  top:362px;
  width:53px;
  height:16px;
  color:#5E5E5E;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1066 {
  position:absolute;
  left:47px;
  top:273px;
  width:71px;
  height:16px;
  color:#5E5E5E;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1068 {
  position:absolute;
  left:128px;
  top:273px;
  width:308px;
  height:105px;
}
#u1068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:105px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
}
#u1069 {
  position:absolute;
  left:304px;
  top:407px;
  width:88px;
  height:28px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
}
#u1071 {
  position:absolute;
  left:143px;
  top:407px;
  width:88px;
  height:28px;
  color:#5E5E5E;
}
#u1072 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:217px;
}
#u1073 {
  position:absolute;
  left:128px;
  top:94px;
  width:308px;
  height:217px;
  color:#5E5E5E;
}
#u1074 {
  position:absolute;
  left:2px;
  top:100px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075 {
  position:absolute;
  left:1293px;
  top:290px;
  width:34px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1076 {
  position:absolute;
  left:1295px;
  top:332px;
  width:34px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:217px;
}
#u1077 {
  position:absolute;
  left:807px;
  top:221px;
  width:308px;
  height:217px;
  color:#5E5E5E;
}
#u1078 {
  position:absolute;
  left:2px;
  top:100px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:217px;
}
#u1079 {
  position:absolute;
  left:1042px;
  top:221px;
  width:308px;
  height:217px;
  color:#5E5E5E;
}
#u1080 {
  position:absolute;
  left:2px;
  top:100px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:52px;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:51px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:18px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u1085 {
  position:absolute;
  left:1724px;
  top:0px;
  width:152px;
  height:51px;
}
#u1085_img.selected {
}
#u1085.selected {
}
#u1086 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1088 {
  position:absolute;
  left:1755px;
  top:8px;
  width:35px;
  height:35px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u1090 {
  position:absolute;
  left:1790px;
  top:14px;
  width:52px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#505050;
}
#u1091 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1093 {
  position:absolute;
  left:12px;
  top:11px;
  width:30px;
  height:30px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u1095 {
  position:absolute;
  left:54px;
  top:18px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#EFEFEF;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1097 {
  position:absolute;
  left:1878px;
  top:11px;
  width:30px;
  height:30px;
  opacity:0.5;
}
#u1098 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u1099_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1099_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-size:16px;
  color:#5E5E5E;
}
#u1102 {
  position:absolute;
  left:2px;
  top:66px;
  width:296px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1103 {
  position:absolute;
  left:31px;
  top:109px;
  width:106px;
  height:40px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1105 {
  position:absolute;
  left:163px;
  top:109px;
  width:106px;
  height:40px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1107 {
  position:absolute;
  left:134px;
  top:19px;
  width:32px;
  height:32px;
  opacity:0.6;
}
#u1108 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:84px;
}
#u1110 {
  position:absolute;
  left:1724px;
  top:50px;
  width:152px;
  height:83px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:34px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1112 {
  position:absolute;
  left:1769px;
  top:61px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1113 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1114 {
  position:absolute;
  left:1784px;
  top:101px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1115 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:2px;
}
#u1116 {
  position:absolute;
  left:1724px;
  top:90px;
  width:152px;
  height:1px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u1118 {
  position:absolute;
  left:1618px;
  top:15px;
  width:69px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#505050;
}
#u1119 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:84px;
}
#u1121 {
  position:absolute;
  left:1576px;
  top:48px;
  width:152px;
  height:83px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:34px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1123 {
  position:absolute;
  left:1620px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1125 {
  position:absolute;
  left:1620px;
  top:99px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1126 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:2px;
}
#u1127 {
  position:absolute;
  left:1576px;
  top:88px;
  width:152px;
  height:1px;
}
#u1128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
