﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:331px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:678px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:678px;
}
#u71 {
  position:absolute;
  left:2px;
  top:331px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:502px;
}
#u72 {
  position:absolute;
  left:25px;
  top:83px;
  width:282px;
  height:501px;
}
#u73 {
  position:absolute;
  left:2px;
  top:242px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:18px;
}
#u75 {
  position:absolute;
  left:26px;
  top:83px;
  width:280px;
  height:18px;
}
#u76 {
  position:absolute;
  left:2px;
  top:1px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u77 {
  position:absolute;
  left:57px;
  top:83px;
  width:34px;
  height:15px;
  font-size:7px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u80 {
  position:absolute;
  left:32px;
  top:109px;
  width:9px;
  height:15px;
  opacity:0.6;
}
#u81 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u82 {
  position:absolute;
  left:46px;
  top:108px;
  width:29px;
  height:16px;
  color:#5E5E5E;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u84 {
  position:absolute;
  left:138px;
  top:108px;
  width:43px;
  height:16px;
  color:#5E5E5E;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u86 {
  position:absolute;
  left:26px;
  top:409px;
  width:280px;
  height:1px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:107px;
}
#u88 {
  position:absolute;
  left:26px;
  top:409px;
  width:280px;
  height:106px;
}
#u89 {
  position:absolute;
  left:2px;
  top:45px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:33px;
}
#u90 {
  position:absolute;
  left:162px;
  top:452px;
  width:141px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
}
#u92 {
  position:absolute;
  left:26px;
  top:420px;
  width:122px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u94 {
  position:absolute;
  left:60px;
  top:446px;
  width:45px;
  height:45px;
  opacity:0.6;
}
#u95 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
}
#u96 {
  position:absolute;
  left:42px;
  top:495px;
  width:81px;
  height:13px;
  font-size:10px;
  text-decoration:underline;
  color:#5E5E5E;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u98 {
  position:absolute;
  left:190px;
  top:426px;
  width:85px;
  height:16px;
  text-decoration:underline;
  color:#3366FF;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:268px;
}
#u101 {
  position:absolute;
  left:26px;
  top:134px;
  width:280px;
  height:267px;
}
#u102 {
  position:absolute;
  left:2px;
  top:126px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:23px;
}
#u103 {
  position:absolute;
  left:98px;
  top:177px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u105 {
  position:absolute;
  left:71px;
  top:249px;
  width:183px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:38px;
}
#u107 {
  position:absolute;
  left:92px;
  top:322px;
  width:140px;
  height:37px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:68px;
}
#u109 {
  position:absolute;
  left:26px;
  top:517px;
  width:280px;
  height:67px;
}
#u110 {
  position:absolute;
  left:2px;
  top:26px;
  width:276px;
  word-wrap:break-word;
}
