﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u478 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u478_ref {
  position:absolute;
  left:372px;
  top:660px;
  width:1px;
  height:1px;
}
#u479 {
  position:absolute;
  left:449px;
  top:0px;
  width:380px;
  height:670px;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u479_ref {
  position:absolute;
  left:821px;
  top:660px;
  width:1px;
  height:1px;
}
#u480 {
  position:absolute;
  left:449px;
  top:731px;
  width:380px;
  height:670px;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u480_ref {
  position:absolute;
  left:821px;
  top:1391px;
  width:1px;
  height:1px;
}
#u481 {
  position:absolute;
  left:0px;
  top:731px;
  width:380px;
  height:670px;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u481_ref {
  position:absolute;
  left:372px;
  top:1391px;
  width:1px;
  height:1px;
}
#u482 {
  position:absolute;
  left:883px;
  top:0px;
  width:380px;
  height:670px;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u482_ref {
  position:absolute;
  left:1255px;
  top:660px;
  width:1px;
  height:1px;
}
#u483 {
  position:absolute;
  left:155px;
  top:271px;
  width:0px;
  height:0px;
}
#u483_seg0 {
  position:absolute;
  left:-4px;
  top:-26px;
  width:8px;
  height:26px;
}
#u483_seg1 {
  position:absolute;
  left:-4px;
  top:-26px;
  width:327px;
  height:8px;
}
#u483_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u483_seg3 {
  position:absolute;
  left:297px;
  top:-42px;
  width:40px;
  height:40px;
}
#u484 {
  position:absolute;
  left:100px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485 {
  position:absolute;
  left:221px;
  top:273px;
  width:0px;
  height:0px;
}
#u485_seg0 {
  position:absolute;
  left:-4px;
  top:-20px;
  width:8px;
  height:20px;
}
#u485_seg1 {
  position:absolute;
  left:-4px;
  top:-20px;
  width:213px;
  height:8px;
}
#u485_seg2 {
  position:absolute;
  left:201px;
  top:-20px;
  width:8px;
  height:614px;
}
#u485_seg3 {
  position:absolute;
  left:201px;
  top:586px;
  width:58px;
  height:8px;
}
#u485_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u485_seg5 {
  position:absolute;
  left:233px;
  top:570px;
  width:40px;
  height:40px;
}
#u486 {
  position:absolute;
  left:155px;
  top:195px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:286px;
  top:279px;
  width:0px;
  height:0px;
}
#u487_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:13px;
}
#u487_seg1 {
  position:absolute;
  left:-4px;
  top:5px;
  width:8px;
  height:8px;
}
#u487_seg2 {
  position:absolute;
  left:-4px;
  top:5px;
  width:8px;
  height:9px;
}
#u487_seg3 {
  position:absolute;
  left:-4px;
  top:6px;
  width:106px;
  height:8px;
}
#u487_seg4 {
  position:absolute;
  left:94px;
  top:6px;
  width:8px;
  height:583px;
}
#u487_seg5 {
  position:absolute;
  left:63px;
  top:581px;
  width:39px;
  height:8px;
}
#u487_seg6 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u487_seg7 {
  position:absolute;
  left:49px;
  top:565px;
  width:40px;
  height:40px;
}
#u488 {
  position:absolute;
  left:48px;
  top:253px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489 {
  position:absolute;
  left:752px;
  top:428px;
  width:0px;
  height:0px;
}
#u489_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u489_seg1 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:166px;
  height:8px;
}
#u489_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u489_seg3 {
  position:absolute;
  left:136px;
  top:-21px;
  width:40px;
  height:40px;
}
#u490 {
  position:absolute;
  left:30px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491 {
  position:absolute;
  left:0px;
  top:1555px;
  width:380px;
  height:670px;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u491_ref {
  position:absolute;
  left:372px;
  top:2215px;
  width:1px;
  height:1px;
}
#u492 {
  position:absolute;
  left:449px;
  top:1555px;
  width:380px;
  height:670px;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u492_ref {
  position:absolute;
  left:821px;
  top:2215px;
  width:1px;
  height:1px;
}
#u493 {
  position:absolute;
  left:449px;
  top:2306px;
  width:380px;
  height:670px;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u493_ref {
  position:absolute;
  left:821px;
  top:2966px;
  width:1px;
  height:1px;
}
#u494 {
  position:absolute;
  left:0px;
  top:2306px;
  width:380px;
  height:670px;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u494_ref {
  position:absolute;
  left:372px;
  top:2966px;
  width:1px;
  height:1px;
}
#u495 {
  position:absolute;
  left:284px;
  top:1930px;
  width:0px;
  height:0px;
}
#u495_seg0 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u495_seg1 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:198px;
  height:8px;
}
#u495_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u495_seg3 {
  position:absolute;
  left:168px;
  top:-22px;
  width:40px;
  height:40px;
}
#u496 {
  position:absolute;
  left:46px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497 {
  position:absolute;
  left:283px;
  top:2011px;
  width:0px;
  height:0px;
}
#u497_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u497_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:128px;
  height:8px;
}
#u497_seg2 {
  position:absolute;
  left:116px;
  top:-7px;
  width:8px;
  height:438px;
}
#u497_seg3 {
  position:absolute;
  left:116px;
  top:423px;
  width:81px;
  height:8px;
}
#u497_seg4 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u497_seg5 {
  position:absolute;
  left:171px;
  top:407px;
  width:40px;
  height:40px;
}
#u498 {
  position:absolute;
  left:70px;
  top:181px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  position:absolute;
  left:283px;
  top:2093px;
  width:0px;
  height:0px;
}
#u499_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u499_seg1 {
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:217px;
}
#u499_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u499_seg3 {
  position:absolute;
  left:-18px;
  top:187px;
  width:40px;
  height:40px;
}
#u500 {
  position:absolute;
  left:-48px;
  top:98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501 {
  position:absolute;
  left:515px;
  top:491px;
  width:0px;
  height:0px;
}
#u501_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u501_seg1 {
  position:absolute;
  left:-67px;
  top:-3px;
  width:71px;
  height:8px;
}
#u501_seg2 {
  position:absolute;
  left:-67px;
  top:-3px;
  width:8px;
  height:322px;
}
#u501_seg3 {
  position:absolute;
  left:-67px;
  top:311px;
  width:29px;
  height:8px;
}
#u501_seg4 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u501_seg5 {
  position:absolute;
  left:-64px;
  top:295px;
  width:40px;
  height:40px;
}
#u502 {
  position:absolute;
  left:-113px;
  top:130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
