﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u503_ref {
  position:absolute;
  left:372px;
  top:660px;
  width:1px;
  height:1px;
}
#u504 {
  position:absolute;
  left:434px;
  top:0px;
  width:380px;
  height:670px;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:671px;
}
#u504_ref {
  position:absolute;
  left:806px;
  top:660px;
  width:1px;
  height:1px;
}
#u505 {
  position:absolute;
  left:302px;
  top:426px;
  width:0px;
  height:0px;
}
#u505_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u505_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:164px;
  height:8px;
}
#u505_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u505_seg3 {
  position:absolute;
  left:134px;
  top:-20px;
  width:40px;
  height:40px;
}
#u506 {
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
