﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:1081px;
}
#u1508 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1509 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:52px;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:51px;
}
#u1512 {
  position:absolute;
  left:2px;
  top:18px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:52px;
}
#u1514 {
  position:absolute;
  left:1724px;
  top:0px;
  width:152px;
  height:51px;
}
#u1514_img.selected {
}
#u1514.selected {
}
#u1515 {
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1517 {
  position:absolute;
  left:1755px;
  top:8px;
  width:35px;
  height:35px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u1519 {
  position:absolute;
  left:1790px;
  top:14px;
  width:52px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#505050;
}
#u1520 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1522 {
  position:absolute;
  left:12px;
  top:11px;
  width:30px;
  height:30px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u1524 {
  position:absolute;
  left:54px;
  top:18px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#EFEFEF;
}
#u1525 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1526 {
  position:absolute;
  left:1878px;
  top:11px;
  width:30px;
  height:30px;
  opacity:0.5;
}
#u1527 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1528 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u1528_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1528_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-size:16px;
  color:#5E5E5E;
}
#u1531 {
  position:absolute;
  left:2px;
  top:66px;
  width:296px;
  word-wrap:break-word;
}
#u1532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1532 {
  position:absolute;
  left:31px;
  top:109px;
  width:106px;
  height:40px;
}
#u1533 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u1534 {
  position:absolute;
  left:163px;
  top:109px;
  width:106px;
  height:40px;
}
#u1535 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u1536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1536 {
  position:absolute;
  left:134px;
  top:19px;
  width:32px;
  height:32px;
  opacity:0.6;
}
#u1537 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:84px;
}
#u1539 {
  position:absolute;
  left:1724px;
  top:50px;
  width:152px;
  height:83px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:34px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1541 {
  position:absolute;
  left:1769px;
  top:61px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1542 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1543 {
  position:absolute;
  left:1784px;
  top:101px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1544 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:2px;
}
#u1545 {
  position:absolute;
  left:1724px;
  top:90px;
  width:152px;
  height:1px;
}
#u1546 {
  position:absolute;
  left:2px;
  top:-8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u1547 {
  position:absolute;
  left:1618px;
  top:15px;
  width:69px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#505050;
}
#u1548 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u1549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:84px;
}
#u1550 {
  position:absolute;
  left:1576px;
  top:48px;
  width:152px;
  height:83px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:34px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1552 {
  position:absolute;
  left:1620px;
  top:59px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1553 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u1554 {
  position:absolute;
  left:1620px;
  top:99px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1555 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:2px;
}
#u1556 {
  position:absolute;
  left:1576px;
  top:88px;
  width:152px;
  height:1px;
}
#u1557 {
  position:absolute;
  left:2px;
  top:-8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:1030px;
}
#u1559 {
  position:absolute;
  left:0px;
  top:51px;
  width:161px;
  height:1029px;
}
#u1560 {
  position:absolute;
  left:2px;
  top:506px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:59px;
}
#u1561 {
  position:absolute;
  left:0px;
  top:109px;
  width:161px;
  height:58px;
  font-size:16px;
  color:#EFEFEF;
}
#u1562 {
  position:absolute;
  left:2px;
  top:20px;
  width:157px;
  word-wrap:break-word;
}
#u1563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:59px;
}
#u1563 {
  position:absolute;
  left:0px;
  top:51px;
  width:161px;
  height:58px;
  font-size:16px;
  color:#EFEFEF;
}
#u1564 {
  position:absolute;
  left:2px;
  top:20px;
  width:157px;
  word-wrap:break-word;
}
#u1565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:59px;
}
#u1565 {
  position:absolute;
  left:0px;
  top:167px;
  width:161px;
  height:58px;
  font-size:16px;
  color:#EFEFEF;
}
#u1566 {
  position:absolute;
  left:2px;
  top:20px;
  width:157px;
  word-wrap:break-word;
}
#u1567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u1567 {
  position:absolute;
  left:518px;
  top:116px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#5E5E5E;
}
#u1568 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1569 {
  position:absolute;
  left:619px;
  top:115px;
  width:304px;
  height:25px;
}
#u1569_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u1570 {
  position:absolute;
  left:518px;
  top:183px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#5E5E5E;
}
#u1571 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:410px;
}
#u1572 {
  position:absolute;
  left:518px;
  top:227px;
  width:1032px;
  height:409px;
}
#u1573 {
  position:absolute;
  left:2px;
  top:196px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u1574 {
  position:absolute;
  left:536px;
  top:254px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#5E5E5E;
}
#u1575 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1576 {
  position:absolute;
  left:601px;
  top:253px;
  width:322px;
  height:25px;
}
#u1576_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u1577 {
  position:absolute;
  left:536px;
  top:289px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#5E5E5E;
}
#u1578 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1579 {
  position:absolute;
  left:601px;
  top:288px;
  width:322px;
  height:78px;
}
#u1579_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:78px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u1580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1580 {
  position:absolute;
  left:939px;
  top:350px;
  width:29px;
  height:16px;
  color:#5E5E5E;
}
#u1581 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u1582 {
  position:absolute;
  left:1106px;
  top:253px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#5E5E5E;
}
#u1583 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1584 {
  position:absolute;
  left:1171px;
  top:253px;
  width:100px;
  height:100px;
  color:#5E5E5E;
}
#u1585 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u1586 {
  position:absolute;
  left:1281px;
  top:253px;
  width:120px;
  height:27px;
  color:#5E5E5E;
}
#u1587 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u1588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:64px;
}
#u1588 {
  position:absolute;
  left:1281px;
  top:290px;
  width:236px;
  height:63px;
  font-size:16px;
  color:#999999;
  line-height:28px;
}
#u1589 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u1590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:2px;
}
#u1590 {
  position:absolute;
  left:518px;
  top:395px;
  width:1032px;
  height:1px;
}
#u1591 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1592 {
  position:absolute;
  left:536px;
  top:418px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#5E5E5E;
}
#u1593 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1594 {
  position:absolute;
  left:554px;
  top:461px;
  width:968px;
  height:95px;
}
#u1595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1595 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u1596 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1597 {
  position:absolute;
  left:193px;
  top:0px;
  width:193px;
  height:30px;
}
#u1598 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1599 {
  position:absolute;
  left:386px;
  top:0px;
  width:193px;
  height:30px;
}
#u1600 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1601 {
  position:absolute;
  left:579px;
  top:0px;
  width:193px;
  height:30px;
}
#u1602 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u1603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u1603 {
  position:absolute;
  left:772px;
  top:0px;
  width:191px;
  height:30px;
}
#u1604 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u1605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1605 {
  position:absolute;
  left:0px;
  top:30px;
  width:193px;
  height:30px;
}
#u1606 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1607 {
  position:absolute;
  left:193px;
  top:30px;
  width:193px;
  height:30px;
}
#u1608 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1609 {
  position:absolute;
  left:386px;
  top:30px;
  width:193px;
  height:30px;
}
#u1610 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1611 {
  position:absolute;
  left:579px;
  top:30px;
  width:193px;
  height:30px;
}
#u1612 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u1613 {
  position:absolute;
  left:772px;
  top:30px;
  width:191px;
  height:30px;
}
#u1614 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1615 {
  position:absolute;
  left:0px;
  top:60px;
  width:193px;
  height:30px;
}
#u1616 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1617 {
  position:absolute;
  left:193px;
  top:60px;
  width:193px;
  height:30px;
}
#u1618 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1619 {
  position:absolute;
  left:386px;
  top:60px;
  width:193px;
  height:30px;
}
#u1620 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
}
#u1621 {
  position:absolute;
  left:579px;
  top:60px;
  width:193px;
  height:30px;
}
#u1622 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u1623 {
  position:absolute;
  left:772px;
  top:60px;
  width:191px;
  height:30px;
}
#u1624 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u1625 {
  position:absolute;
  left:554px;
  top:570px;
  width:120px;
  height:27px;
  color:#5E5E5E;
}
#u1626 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u1627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u1627 {
  position:absolute;
  left:970px;
  top:1028px;
  width:127px;
  height:34px;
}
#u1628 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u1629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:44px;
}
#u1629 {
  position:absolute;
  left:518px;
  top:668px;
  width:1032px;
  height:43px;
  color:#5E5E5E;
}
#u1630 {
  position:absolute;
  left:2px;
  top:14px;
  width:1028px;
  word-wrap:break-word;
}
#u1631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1774px;
  height:2px;
}
#u1631 {
  position:absolute;
  left:147px;
  top:1001px;
  width:1773px;
  height:1px;
}
#u1632 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1769px;
  visibility:hidden;
  word-wrap:break-word;
}
